<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Auditorias </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
  <ion-list>
    <ion-item-sliding *ngFor="let auditoria of auditorias; let i = index"  id="item+index">
      <ion-item (click)="itenRequisito(auditoria)">
        <ion-label>
          <h2>{{auditoria.entidade.nm_reduzido}}</h2>
          <p>{{auditoria.propriedade.nm_propriedade}}</p>
          <p>{{auditoria.auditoria_nivel.nm_nivel}}</p>
        </ion-label>
        <ion-note slot="end">
          Total: {{getTotalAuditados(auditoria)}} / {{getTotalRequisitos(auditoria)}}
        </ion-note>
      </ion-item>
  
      <ion-item-options side="start">
        <ion-item-option (click)="integrar(auditoria)">
          <ion-icon name="cloud-upload-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
        <ion-item-option>
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>