<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-buttons>
  <ion-back-button defaultHref="/folder/Inbox">Voltar</ion-back-button>
</ion-buttons>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required formControlName="email" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required formControlName="password" type="text"></ion-input>
  </ion-item>
  <ion-button block color="primary" (click)="login()" [disabled]="loginForm.invalid">
    Login
  </ion-button>
</form>
</ion-content>